############################
# Node / Package Manager
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Vite / VitePress
############################
.vite/
.cache/
dist/
.vitepress/dist/
.vitepress/cache/

############################
# Editor / IDE
############################
.vscode/
.idea/
*.iml

############################
# Temporary / Misc
############################
*.log
*.tmp
*.swp
*.swo
docs/.vitepress/cache/
dump.txt
